<%- include('../partials/top') %>
<% const p = content.pages.galleri; %>
<%- include('../partials/sidehovud', { title: p.title, lead: 'Eit utval bilete frå prosjekt og arbeid vi har utført.', image: null }) %>

<section class="seksjon">
  <div class="ramme">
    <% if (content.gallery && content.gallery.length) { %>
    <ul class="galleri-rutenett">
      <% for (const g of content.gallery) { %>
      <li>
        <button type="button" class="galleri-knapp" data-lysbilete="<%= mediaUrl(g.image, 'lg') %>" data-alt="<%= mediaAlt(g.image) %>">
          <img src="<%= mediaUrl(g.image, 'sm') %>" srcset="<%= srcset(g.image) %>" sizes="(min-width: 720px) 25vw, 50vw" alt="<%= mediaAlt(g.image) || 'Bilete frå arbeidet vårt' %>" loading="lazy" width="400" height="400" />
        </button>
      </li>
      <% } %>
    </ul>
    <% } else { %>
    <p>Galleriet er tomt for augneblinken.</p>
    <% } %>
  </div>
</section>

<%- include('../partials/cta-band') %>
<%- include('../partials/bottom') %>
